__pycache__/*
*.pyc
uploads/*.jpg
uploads/*.png
uploads/*.jpeg
uploads/*.gif
uploads/*.webm
uploads/*.mp4
uploads/*.psd
uploads/*.tif
uploads/*.ogg
uploads/*.mp3
banners/*
src/banners/*
.python-version
blacklist.pkl
*.swp
.vscode/
.env
.idea
pyrightconfig.json
frontend/yarn-error.log
frontend/node_modules/*
frontend/public/build/*
