.modal {
	 display: inline-block;
	 z-index: 1000;
	 display: inline-block;
   position: fixed !important;
	 max-width: 10000px;
	 max-height: 10000px;
	 min-width: 10px;
	 min-height: 10px;
}

.modal-image {
}

.modal-controls {
	z-index: 10000;
	display: none;
	position: relative;
	width: 100%;
	position: fixed;
	top: 50%;
}

.modal-c {
	font-size: 24px;
	display: inline-block;
	border: none;
	box-shadow: 0px 1px 14px 1px lightgrey;
	font-weight: bold;
	background: white;
	color:black;
}

.modal-c:focus {
	 outline: 0;
}

.modal-c:active {
	 background-color: lightgray;
}

#modalL {
	 float: left;
}

#modalR {
	 float: right;
	 margin-right: 15px;
}
