.add {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin: 0 auto;
	width: fit-content;
	width: -moz-fit-content;
}

textarea {
	width: auto;
	max-width: 300px;
}

.file-about {
	 margin-top: 1px;
	 margin-bottom: 1px;
}

.bb {
	 margin-top: 3px;
	 margin-bottom: 3px;
}

.subject * {
	 display: inline-block;
}

#username {
	 margin-left: -4px;
}

label {
	display: inline-block;
	margin-right: 2px;
	padding-right: 6px;
}

.spoiler-div {
	display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
}

