.add {
	background-color: white;
	display: inline-block;
}

.add:after {
	content: '';
	border-top: 1px solid #8c8b8b;
	display: block;
	unicode-bidi: isolate;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	overflow: hidden;
	border-width: 1px;
}

textarea {
	 width: auto;
	 max-width: 300px;
}

.file-about {
	 margin-top: 1px;
	 margin-bottom: 1px;
}

.bb {
	 margin-top: 3px;
	 margin-bottom: 3px;
}

.subject * {
	 display: inline-block;
}

#username {
	 margin-left: -4px;
}

label {
	display: inline-block;
	width: 50px;
	margin-right: 2px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
}

