.oppost {
  padding: 5px;
  display: inline-block;
}

.oppost:target {
	 border: 1px dashed red;
}

h3, .oppost-href, .date {
  display: inline-block;
  margin: 1px;
}

.oppost-outer {
  display: block;
  margin: 3px;
}

.oppost-number {
	display: inline-block;
	margin: 1px;
	color: green;
}

.username {
	color: #3333cc;
	font-weight: bold;
	display: inline-block;
}

