.thread {
  border: 1px dashed black;
  padding: 3px;
  display: inline-block;
}


h3, .thread-href, .date {
  display: inline-block;
  margin: 0px;
}

.thread-outer {
  display: block;
  margin: 3px;
}

.ommited {
	color: #666666;
}
