.banform {
	 display:none;
	 border: 1px solid black;
	 background: white;
	 position: fixed;
	 z-index: 1000000;
}

.banform p {
	 margin: 0px;
}

.ui-datepicker {
	 background:lightgray;
}

.banform br {
	display: block;
}
