{% extends 'admin.html' %}
{% block title %}Board Stats{% end %}
{% block content %}
<div class='content'>
	{% if boards %}
		<table class='boards'>
			<tr class='table-header'>
				<th>Name</th>
				<th>Short</th>
				<th>Username</th>
				<th>Created</th>
				<th>Description</th>
				<th>Country flags</th>
				<th>Max posts in thread</th>
				<th>Bumplimit</th>
				<th>Max threads in catalog</th>
				<th>Posts </th>
				<th>Posts with media</th>
				<th>Dice</th>
				<th title='Posts per page'>Per page</th>
				<th>Pinned</th>
				<th>Edit</th>		
				<th></th>	
			</tr>
			{% for board in boards %}
				{% module Stats(board) %}
			{% end %}
		</table>
	{% else %}
		<h4>No boards yet.</h4>
	{% end %}
</div>
<script>
[...document.getElementsByClassName('show_desc')].map(el => {
    el.addEventListener('click', e => {
		console.log('click')
        popUp(e.target.getAttribute('data-desc'))
    })
})
</script>
{% end %}
