<div class='add'>
	<form method='POST' action='' enctype="multipart/form-data" id='newpost' autocomplete="off">
		{% module xsrf_form_html() %}
		<div class='subject'>
			<label for='subject' class='subj'>Subject</label><input id='subject' type='text' name='subject' maxlength=40 />
		</div>
		{% if name %}
		<div class='name'>
			<label for='username'>Name</label>
			<input type='text' maxlength=25 id='username' name='username'/>
		</div>
		{% end %}
		{% current_user.is_admin %}
			<label for='admin'>Post as admin</label>
			<input id='admin' type='checkbox' name='admin' />
		{% end %}
		{% if show %}
			<label for='showop'>Show OP</label>
			<input id='showop' type='checkbox' name='showop' />
		{% end %}		
		<div class='bb'>
			<button id='bb-b' onclick="return wrapText('b')" title='bold' ><b>b</b></button>
			<button id='bb-i' onclick="return wrapText('i')" title='italic' ><i>i</i></button>
			<button id='bb-u' onclick="return wrapText('u')" title='underline' ><u>u</u></button>
			<button id='bb-s' onclick="return wrapText('s')" title='strike' ><s>s</s></button>
			<button id='bb-sp' onclick="return wrapText('spoiler')" title='spoiler' >spoiler</button>
			<button id='bb-c' title='citation'><citation>&gt;</citation></button>
		</div>
		<div class='textarea'>
			<textarea rows=4 cols=55 name='text' maxlength=10000 placeholder='Your post' required
			id='text-area'></textarea>
		</div>
		<!--  TODO: rework to only show one empty input field at once -->
		<div class='file'>
			<pre class='file-about'>Only supported filetypes will be uploaded:
			.jpg .png .gif .webm .mp4
			Max filesize: 20mb</pre>
			<input type='file' name='file1' class='fileinput' id='file1'/>
			<button class="file_remove" data-id="file1">X</button>			
			<input type='file' name='file2' class='fileinput' id='file2'/>
			<button class="file_remove" data-id="file2">X</button>
			<input type='file' name='file3' class='fileinput' id='file3'/>
			<button class="file_remove" data-id="file3">X</button>
			<input type='file' name='file4' class='fileinput' id='file4'/>
			<button class="file_remove" data-id="file4">X</button>
		</div>
		<div class='spoiler-div'>
			<label for='spoilerimages' title='Hide image previews'>Spoiler</label>
			<input type='checkbox' name='spoilerimage' id='spoilerimages'/>
		</div>
		<br />
		<input type="hidden" name="pass" value='default' id='newpostpass' />
		<div id='sendpost-box'>
			<input type='submit' id='sendpost'>
			<input type='checkbox' name='saging' id='saging' title='Sage'/>
			<label for='saging'> </label>
		</div>
	</form>
	<style>
		#sendpost-box {
			margin-top: 5px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		#saging {
			transform:scale(1.5);
		}

		#sendpost {
			width: 40%;
			height: 32px;
		}
	</style>
</div>
