<div class='add'>
	<button id='toggle'>Toggle Form</button>
	<form method='POST' action='' enctype="multipart/form-data" id='newpost'>
		{% module xsrf_form_html() %}
		<div class='subject'>
			<label for='subject' class='subj'>Subject</label><input id='subject' type='text' name='subject' maxlength=40 />
		</div>
		{% if name %}
		<div class='name'>
			<label for='username'>Name</label>
			<input type='text' maxlength=25 id='username' name='username'/>
		</div>
		{% end %}
		<div class='bb'>
			<button id='bb-b' onclick="return wrapText('b')"><b>b</b></button>
			<button id='bb-i' onclick="return wrapText('i')"><i>i</i></button>
			<button id='bb-u' onclick="return wrapText('u')"><u>u</u></button>
			<button id='bb-s' onclick="return wrapText('s')"><s>s</s></button>
			<button id='bb-sp' onclick="return wrapText('spoiler')">spoiler</button>
			<button id='bb-c'><citation>&gt;</citation></button>
		</div>
		<div class='textarea'>
			<textarea rows=4 cols=55 name='text' maxlength=2000 placeholder='Your post' required
			id='text-area'></textarea>
		</div>
		<div class='file'>
			<pre class='file-about'>Supported filetypes: .jpg .png .gif .webm .mp4
			Unsupported filetypes will not be uploaded
			Maximal size: 5mb</pre>
			<input type='file' name='file' class='fileinput'/>
		</div>
		<div class='spoiler-div'>
			<label for='spoilerimages' title='Hide image previews'>Spoiler</label>
			<input type='checkbox' name='spoilerimage' id='spoilerimages'/>
		</div>
		<br />
		<input type='submit' id='sendpost'>		
		<input type='checkbox' name='saging' id='saging' title='Sage'/>
		<label for='saging'> </label>		
	</form>
</div>
