<div class='oppost-outer'>
	<div class='oppost' id='{{op["count"]}}'>
		<div class='post-header'>
			{% if op['subject'] %}<h3>{{op['subject']}}</h3>{% end %}
			<p class='date'>{{ op['date']}}</p>
			<a href='#{{op["count"]}}' class='post-href'>>>{{op['count']}}</a>
			<p class='oppost-number'>1</p>
		</div>
		<div class='oppost-media'>
			{% if op['video'] != None %}
				{% module Video(op['video'], op['count']) %}
			{% end %}
			{% if op['image'] != None %}
				{% module Image(op['image'], op['count']) %}
			{% end %}
		</div>
		<p>{% raw  op['text'] %}</p>
		{% if op['replies'] %}
			<li class=replies>
				<p class='replies-p'>Replies: </p>
				{% for reply in op['replies'] %}
					<ul class='reply'><a href='#{{ reply }}'>>>{{reply}}</a></ul>
				{% end %}
			</li>
		{% end %}
	</div>
</div>
