<div class='oppost-outer'>
	<div class='oppost' id='{{op["count"]}}'>
		<div class='oppost-header post-header'>
			{% if op['subject'] %}<h3 class='psubject' title='subject'>{{op['subject']}}</h3>{% end %}
			{% if op['admin'] %}
				<p class='username adminpost' title='admin'>## Admin ##</p>
				<p class='username adminpost-small' title='admin'>&#x21AF;&#x21AF;</p>				
			{% else %}
				{% if op['username'] %}<p class='username'>{{op['username']}}</p>{% end %}
			{% end %}
			{% if op['trip'] %}<p class='tripcode' title='tripcode'>{{op['trip']}}</p>{% end %}
			{% if op['op'] %}<span class='isop' title='original poster'>#OP</span>{% end %}			
			<p class='date'>{{ op['date']}}</p>
			{% if op['country'] %}<img class='flag' src='/flags/{{op["country"]}}.png' title='{{op["countryname"]}}' />{% end %}
			<a href='#{{op["count"]}}' class='post-href'>>>{{op['count']}}</a>
			<p class='oppost-number'>1</p>
			{% if op['locked'] %}
				<p class='locked' title='Thread is locked.'>&#x1f512;</p>
			{% end %}
			<button class='del-post' data-id='{{op["count"]}}'>&#9746;</button>			
			{% if admin %}
				<button class='ban' data-id='{{op["count"]}}'>BAN</button>			
				<button class='del' data-id='{{op["count"]}}'>rm</button>
				<button class='post-info' data-id='{{op["count"]}}'>?</button>
				<button class='pin' data-id="{{op['count']}}">📌</button>
				<button class='pin_b' data-id="{{op['count']}}" title='Pin to board'>📌📌</button>
				<button class='infinify' data-id="{{op['count']}}">∞</button>	
				<button class='admin-lock' data-id="{{op['count']}}">🔒</button>
				<button class='admin-move' data-id="{{op['count']}}">mv</button>
				<a href='/admin/search/{{op["count"]}}' class='thread-href'>
					<button class='btn-search' title='Search by ip'>Q</button>
				</a>				
			{% end %}
			<span class='report' data-id='{{op["count"]}}'>&#33;</span>
			{% if op['sage'] %}<span class='sage' title='sage'>&#11015;</span>{% end %}
			{% if op['pinned'] %}<span class='pinned' title='Pinned thread'>📌</span>{% end %}
			{% if op['infinite'] %}
				<span class='infinite' title='Infinite thread'>∞</span>
			{% end %}
			{% if autosage %}
				{% if not op['infinite'] %}
					<span class='autosage'>[AUTOSAGE]</span>
				{% end %}
			{% end %}			
		</div>
		{% if op['files'] %}
			{% for file in op['files'] %}
				{% if file['filetype'] %}
					<div class='oppost-media'>
						{% if file['filetype'] == 'video' %}
							<a href='/{{file["name"]}}' class='filedata-a' target='_blank'>{{file['original']}}</a>
							<p class='filedata-p'>{{file['filedata']}}</p>
							{% module Video(file['name'], op['count'], file['thumb']) %}
						{% end %}
						{% if file['filetype'] == 'image' %}
							<a href='/{{file["name"]}}' class='filedata-a' target='_blank'>{{file['original']}}</a>
							<p class='filedata-p'>{{file['filedata']}}</p>							
							{% module Image(file['name'], op['count'], file['thumb']) %}
						{% end %}
						{% if file['filetype'] == 'audio' %}
							<p class='filedata-p'>{{file['original']}} {{ file['filedata']}}</p>
							{% module Audio(file['name'], op['count']) %}
						{% end %}			
					</div>
				{% end %}
			{% end %}
		{% end %}
		<p class='text'>{{ op['text'] }}</p>
		{% if op['roll'] %}
			<span class='roll-result'>{{op['roll']}}</span>
		{% end %}		
		{% if op['banned'] %}
			<p class="banned">User has been banned for this post.</p>
		{% end %}
		{% if op['replies'] %}
			<li class=replies>
				<p class='replies-p'>Replies: </p>
				{% for reply in op['replies'] %}
					<ul class='reply'><a href='#{{ reply }}' class='reply'>>>{{reply}}</a></ul>
				{% end %}
			</li>
		{% end %}
	</div>
</div>
