<div class='oppost-outer'>
	<div class='oppost' id='{{op["count"]}}'>
		<div class='post-header'>
			{% if op['subject'] %}<h3>{{op['subject']}}</h3>{% end %}
			{% if op['username'] %}<p class='username'>{{op['username']}}</p>{% end %}			
			<p class='date'>{{ op['date']}}</p>
			{% if op['country'] %}<img class='flag' src='/flags/{{op["country"]}}.png'/>{% end %}			
			<a href='#{{op["count"]}}' class='post-href'>>>{{op['count']}}</a>
			<p class='oppost-number'>1</p>
			{% if op['locked'] %}
				<p class='locked' title='Thread is locked.'>&#x1f512;</p>
			{% end %}
			{% if admin %}
				<button class='ban' data-id='{{op["count"]}}'>BAN</button>			
				<button class='del' data-id='{{op["count"]}}'>&#x2716;</button>
			{% end %}
		</div>
		<div class='oppost-media'>
			{% if op['video'] != None %}
				<a href='{{op["video"]}}' class='filedata-a'>{{op['original']}}</a>
				<p class='filedata-p'>{{op['filedata']}}</p>
				{% module Video(op['video'], op['count']) %}
			{% end %}
			{% if op['image'] != None %}
				<a href='{{op["image"]}}' class='filedata-a'>{{op['original']}}</a>
				<p class='filedata-p'>{{op['filedata']}}</p>							
				{% module Image(op['image'], op['count']) %}
			{% end %}
		</div>
		<p class='text'>{% raw  op['text'] %}</p>
		{% if op['banned'] %}
			<p class="banned">User has been banned for this post.</p>
		{% end %}
		{% if op['replies'] %}
			<li class=replies>
				<p class='replies-p'>Replies: </p>
				{% for reply in op['replies'] %}
					<ul class='reply'><a href='#{{ reply }}'>>>{{reply}}</a></ul>
				{% end %}
			</li>
		{% end %}
	</div>
</div>
