<div class='post-outer'>
	<div class='post' id='{{post["count"]}}'>
		<div class='post-header'>
			{% if post['subject'] %}
				<h3 class='psubject' title='subject'>{{post['subject']}}</h3>
			{% end %}
			{% if post['admin'] %}
				<p class='username adminpost' title='admin'>## Admin ##</p>
				<p class='username adminpost-small' title='admin'>&#x21AF;&#x21AF;</p>
			{% else %}
				{% if post['username'] %}
					<p class='username'>{{post['username']}}</p>
				{% end %}
			{% end %}
			{% if post['trip'] %}
				<p class='tripcode' title='tripcode'>{{post['trip']}}</p>
			{% end %}
			{% if post['op'] %}
				<span class='isop' title='original poster'>#OP</span>
			{% end %}
			<p class='date'>{{ post['date']}}</p>
			{% if post['country'] %}
				<img class='flag' src='/flags/{{post["country"]}}.png' title='{{post["countryname"]}}' />
			{% end %}
			<a href='#{{post["count"]}}' class='post-href'>>>{{post['count']}}</a>
			<p class='post-number'></p>
			<button class='del-post' data-id='{{post["count"]}}'>rm</button>
			{% if current_user.is_admin %}
				<button class='ban' data-id='{{post["count"]}}'>ban</button>
				<button class='del' data-id='{{post["count"]}}'>rm -f</button>
				<button class='post-info' data-id='{{post["count"]}}'>cat</button>
				<a href='/admin/search/{{post["count"]}}' class='thread-href'>
					<button class='btn-search' title='Search by ip'>find</button>
				</a>
				<button class='seal' data-id="{{post['count']}}">seal</button>
			{% end %}
			<button class='report' data-id='{{post["count"]}}'>&#33;</button>
			<!--<span class='vote vote-up' data-id='{{post["count"]}}'>based</span>
			<span class='vote vote-down' data-id='{{post["count"]}}'>cringe</span>-->
			{% if post['sage'] %}<p class='sage'>sage</p>{% end %}
		</div>
		{% if post['files'] %}
			{% for file in post['files'] %}
				{% if file['filetype'] %}
					<div class='post-media-div'>
						{% if file['filetype'] == 'video' %}
							<a href='/{{file["name"]}}' class='filedata-a' target='_blank'>{{file['original']}}</a>
							<p class='filedata-p'>{{file['filedata']}}</p>
							{% module Video(file['name'], post['count'], file['thumb']) %}
						{% end %}
						{% if file['filetype'] == 'image' %}
							<a href='/{{file["name"]}}' class='filedata-a' target='_blank'>{{file['original']}}</a>
							<p class='filedata-p'>{{file['filedata']}}</p>							
							{% module Image(file['name'], post['count'], file['thumb']) %}
						{% end %}
						{% if file['filetype'] == 'audio' %}
							<p class='filedata-p'>{{file['original']}} {{ file['filedata']}}</p>
							{% module Audio(file['name'], post['count']) %}
						{% end %}			
					</div>
				{% end %}
			{% end %}
		{% end %}
		<p class='text'>{{ post['text'] }}</p>
		{% if post['roll'] %}
			<span class='roll-result'>{{post['roll']}}</span>
		{% end %}
		{% if post['banned'] %}
			{% if post.get('ban_message') %}
				<p class="banned">{{post['ban_message']}}</p>
			{% else %}
				<p class="banned">User has been banned for this post.</p>
			{% end %}
		{% end %}
		{% if post['seal'] %}
			<img class='sealed' src='/static/seal.png' />
		{% end %}
		{% if post['replies'] %}
			<li class=replies>
				<p class='replies-p'>Replies: </p>
				{% for reply in post['replies'] %}
					<ul class='reply'><a href='#{{ reply }}' class='reply'>>>{{reply}}</a></ul>
				{% end %}
			</li>
		{% end %}
	</div>
</div>
