<div class='post-outer'>
	<div class='post' id='{{post["count"]}}'>
		<div class='post-header'>
			{% if post['subject'] %}<h3>{{post['subject']}}</h3>{% end %}
			{% if post['username'] %}<p class='username'>{{post['username']}}</p>{% end %}
			<p class='date'>{{ post['date']}}</p>
			<a href='#{{post["count"]}}' class='post-href'>>>{{post['count']}}</a>
			<p class='post-number'></p>
			{% if admin %}
				<button class='del' data-id='{{post["count"]}}'>&#x2716;</button>
			{% end %}			
		</div>
		<div class='post-media-div'>
			{% if post['video'] != None %}
				{% module Video(post['video'], post['count']) %}
			{% end %}
			{% if post['image'] != None %}
				{% module Image(post['image'], post['count']) %}
			{% end %}
		</div>
		<p>{% raw post['text'] %}</p>		
		{% if post['replies'] %}
			<li class=replies>
				<p class='replies-p'>Replies: </p>
				{% for reply in post['replies'] %}
					<ul class='reply'><a href='#{{ reply }}'>>>{{reply}}</a></ul>
				{% end %}
			</li>
		{% end %}
	</div>
</div>
