<div id='settings-btn' class='settings'>
	<img src='/static/settings.png' title='settings' />
</div>
<div class='settings' id='settings-menu'>
	<span id='settings_title'>Settings</span>
	<button id='settings-hide'>X</button>
	<br />
	<div id='spoiler_block'>
		<input id='spoiler_images' type='checkbox' />
		<label for='spoiler_images' id='spoiler_images_l'>Hide images</label>
	</div>
	{% block theme %}
		<select id='themes'>
			<option value='themes/white.css'>White</option>
			<option value='themes/krautchan.css'>Krautchan</option>
			<option value='themes/neutron.css'>Neutron</option>
			<option value='themes/dark.css'>Dark</option>
			<option value='themes/nord.css'>Nord</option>
			<option value='themes/purple.css'>Purple</option>
			<option value='themes/mewch.css'>Mewch</option>
			<option value='themes/ernst.css'>Ernst</option>
			<option value='themes/brutalism.css'>Brutalism</option>
		</select>
	{% end %}
	<br />
	<input type='password' maxlength=5 id='setpass' autocomplete="false" readonly/>
</div>
