<tr class='table-row'>
	<td>{{b['name']}}</td>
	<td>{{b['short']}}</td>
	<td>{{b['username']}}</td>
	<td>{{b['created']}}</td>
	<!--td>{{b['description']}}</td-->
	<td>{{b['country']}}</td>
	<td>{{b['thread_posts']}}</td>
	<td>{{b['thread_bump']}}</td>
	<td>{{b['thread_catalog']}}</td>
	<td>{{b['postcount']}}</td>
	<td>{{b['mediacount']}}</td>
	<td>{{b['roll']}}</td>
	<td>{{b['perpage']}}</td>	
	<td><a href='/admin/edit/{{b["short"]}}/'><button>Edit</button></a></td>
	<td>
		<form action='' method='POST' >
			{% module xsrf_form_html() %}
			<input type='hidden' name='short' value='{{b["short"]}}'>
			<button type='submit' value='Delete'>Delete</button>
		</form>
	</td>
</tr>
