<script type='x-tmpl-mustache' id='template'>
<div class='post-outer'>
	<div class='post' id='{{! count}}'>
		<div class='post-header'>
			{{! #subject}}<h3>{{! subject}}</h3>{{! /subject}}
			{{! #admin}}
				<p class='username adminpost'>## Admin ##</p>
					<p class='username adminpost-small'>&#x21AF;&#x21AF;</p>			{{!/admin}}
			{{!^admin}}
				{{! #username}}<p class='username'>{{!username}}</p>{{! /username}}
			{{! /admin}}
			{{! #trip}}<p class='tripcode'>{{! trip}}</p>{{! /trip}}
			{{! #isop }}<span class='isop'>#OP</span>{{! /isop }}
			<p class='date'>{{! date}}</p>
			{{! #country}}<img class='flag' src='/flags/{{! country }}.png' title='{{! countryname }}' />{{! /country}}
			<a href='#{{! count}}' class='post-href'>>>{{! count}}</a>
			<p class='post-number'></p>
			{{! #admin}}
				<button class='ban' data-id='{{! count}}'>BAN</button>
				<button class='del' data-id='{{! count}}'>&#x2716;</button>
				<button class='post-info' data-id='{{! count}}'>?</button>
			{{! /admin}}
			<span class='report' data-id='{{! count}}'>&#33;</span>
			{{! #sage}}<span class='sage'>&#11015;</span>{{! /sage}}
		</div>
		<div class='post-media-div'>
			{{! #video}}
				<a href='/{{! video}}' class='filedata-a'>{{! original}}</a>
				<p class='filedata-p'>{{! filedata}}</p>
				<div class='post-video-div'>
					<div class='info' id='media{{! count}}'></div>	
					<div class='post-spoiler'>
						<video class='post-media post-video' height=180px width=200px src='/{{! video}}'
							poster='/{{! thumb}}' data-oid='{{! count}}' controls>
					</div>
				</div>
			{{! /video}}
			{{! #image}}
				<a href='/{{! image}}' class='filedata-a'>{{! original}}</a>
				<p class='filedata-p'>{{! filedata}}</p>
				<div class='post-image-div'>
					<div class='info' id='media{{! count}}'></div>
					<div class='post-spoiler'>
						<img src='/{{! thumb}}' data-image='/{{! image}}' class='post-image post-media'
							data-oid='{{! count}}'>
					</div>
				</div>
			{{! /image}}
			{{! #audio}}
				<p class='filedata-p'>{{! original}} {{! filedata}}</p>
				<div class='post-audio-div'>
					<div class='info' id='media{{! count}}'></div>	
					<div>
						<audio class='post-media post-audio' src='/{{! audio}}' data-oid='{{! count}}' controls>
					</div>
				</div>
			{{! /audio}}
		</div>
		<p class='text'>{{{! text}}}</p>
		{{! #roll }}
			<span class='roll-result'>{{! roll}}</span>
		{{! /roll }}
		{{! #banned}}
			<p class="banned">User has been banned for this post.</p>
		{{! /banned}}		
		{{! #replies.length }}
			<li class=replies>
				<p class='replies-p'>Replies: </p>
				{{! #replies }}
					<ul class='reply'><a href='#{{! .}}' class='reply'>>>{{! .}}</a></ul>
				{{! /replies }}
			</li>
		{{! /replies.length }}
	</div>
</script>
