<div class='thread-outer' id='{{thread["count"]}}'>
	<div class='thread'>
		<div class='thread-header'>
			{% if thread['subject'] %}<h3 class='psubject' title='subject'>{{thread['subject']}}</h3>{% end %}
			{% if thread['admin'] %}
				<p class='username adminpost' title='admin'>## Admin ##</p>
				<p class='username adminpost-small' title='admin'>&#x21AF;&#x21AF;</p>
			{% else %}
				{% if thread['username'] %}<p class='username'>{{thread['username']}}</p>{% end %}
			{% end %}
			{% if thread['trip'] %}<p class='tripcode' title='tripcode'>{{thread['trip']}}</p>{% end %}
			{% if thread['op'] %}<span class='isop' title='original poster'>#OP</span>{% end %}			
			<p class='date'>{{ thread['date']}}</p>
			{% if thread['country'] %}<img class='flag' src='/flags/{{thread["country"]}}.png' title='{{thread["countryname"]}}' />{% end %}
			<a href='/{{thread["board"]}}/thread/{{thread["count"]}}' class='thread-href'>>>{{thread['count']}}</a>
			{% if thread['sage'] %}<span class='sage' title='sage'>&#11015;</span>{% end %}
			<button class='hide' data-thread='{{thread["count"]}}' title='hide'>hide</button>
			{% if thread['locked'] %}
				<p class='locked' title='Thread is locked.'>&#x1f512;</p>
			{% end %}
			{% if thread['pinned'] %}<span class='pinned' title='Pinned thread'>📌</span>{% end %}
			{% if thread['infinite'] %}
				<span class='pinned infinite' title='Infinite thread'>∞</span>
			{% end %}
			{% if autosage %}
				{% if not thread['infinite'] %}
					<span class='autosage'>[AUTOSAGE]</span>
				{% end %}
			{% end %}
		</div>
		{% if thread['filetype'] %}
			<div class='thread-media'>
				{% if thread['video'] %}
					<a href='{{thread["video"]}}' class='filedata-a' target='_blank'>{{thread['original']}}</a>
					<p class='filedata-p'>{{thread['filedata']}}</p>
					{% module Video(thread['video'], thread['count'], thread['thumb']) %}
				{% end %}
				{% if thread['image'] %}
					<a href='{{thread["image"]}}' class='filedata-a' target='_blank'>{{thread['original']}}</a>
					<p class='filedata-p'>{{thread['filedata']}}</p>
					{% module Image(thread['image'], thread['count'], thread['thumb']) %}
				{% end %}
				{% if thread['audio'] %}
					<p class='filedata-p'>{{thread['original']}} {{thread['filedata']}}</p>
					{% module Audio(thread['audio'], thread['count']) %}
				{% end %}
			</div>
		{% end %}
		<p class='text'>{% raw thread['text'] %}</p>
		{% if thread['roll'] %}
			<span class='roll-result'>{{thread['roll']}}</span>
		{% end %}		
		{% if thread['banned'] %}
			<p class="banned">User has been banned for this post.</p>
		{% end %}
		{% if thread['replies'] %}
			<li class=replies>
				<p class='replies-p'>Replies: </p>
				{% for reply in thread['replies'] %}
					<ul class='reply'><a href='#{{ reply }}' class='reply'>>>{{reply}}</a></ul>
				{% end %}
			</li>
		{% end %}
		{% if not thread['pinned'] %}
			{% if thread['postcount']%}{% if thread['postcount'] - 3 > 0 %}
				<p class='ommited'>Posts ommited: {{thread['postcount'] - 3}}{% if thread['filecount'] != 0 %}, files: {{thread['filecount']}}{% end %}</p>
			{% end %}{% end %}
		{% else %}
			{% if thread['postcount']%}{% if thread['postcount'] - 1 > 0 %}
				<p class='ommited'>Posts ommited: {{thread['postcount'] - 1}}{% if thread['filecount'] != 0 %}, files: {{thread['filecount']}}{% end %}</p>
			{% end %}{% end %}
		{% end %}
	</div>
	{% if thread['latest'] %}
		<div class='thread-latest'>
			{% for post in thread['latest'] %}
				{% module Preview(post) %}
			{% end %}
		</div>
	{% end %}
</div>
