.filedata-a {
	word-break: break-word;
	overflow-wrap: break-word;
  word-wrap: break-word;
}

p {
	 max-width:900px;
   word-wrap:break-word;
}

.replies {
	list-style-type: none;
	display: inline;
	font-size: 0.8rem;
	font-style: italic;
}

.reply {
	display: inline;
	padding: 1px 0px 0px 0px;
}

.replies-p {
	 display: inline-block;
	 margin: 0;
}

.boards-list-board {
	list-style-type: none;
	display: inline;
}

.boards-list {
	 display: inline;
	 padding: 0px;
}

.file-file {
	display: inline-block;
}

.post-image {
	max-height: 240px;
	max-width: 320px;
}

.filedata-p {
	margin: 1px;
}

.post-header * {
	margin: 0px;
}

.locked {
	display: inline;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

underline {
	text-decoration: underline;
}

strike {
	text-decoration: line-through;
}

spoiler {
  background-color: black;
	padding-bottom: 1px;
}

spoiler:hover {
  background-color: transparent;
}

.text {
	white-space: pre-line;
	word-break: break-word;
}

citation {
	display: inline-block;
}

.username {
	 margin: 0px;
}

#text-area {
	resize: vertical;
	max-height: 400px;
	min-height: 65px;
}

.license {
	font-size: 12px;
	/*position: fixed;
	bottom: 0;*/
}

.add_board form * {
	 margin-top: 12px;
}

.flag {
	max-height: 24px;
	vertical-align: bottom;
}

.report {
	padding: 0px 6px;
	border: 1px solid;
	cursor: pointer;
	max-height: 22px;
	margin-bottom: 1px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.popup {
  max-width:400px;
  position: fixed;
  z-index: 100000;
  top: 25px;
  right: 25px;
}

#popup-inner {
  display: inline-block;
  padding: 3px;
}

#popup-close {
  display: inline-block;
  padding: 3px;
  margin: 5px;
  vertical-align: middle;
}

header {
	margin-bottom: 15px;
}

.tripcode {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.9rem;
	margin: 0;
}

.preview-header {
	border: none;
}

.preview-outer {
	margin-left: 25px;
}

.preview-post {
	display: inline-block;
	padding: 3px 6px;
	margin-bottom: 3px;
	margin-top: 3px;
}

.preview-header * {
	display: inline-block;
}

.adminpost-small {
	display: none !important;
}

#saging {
	 display:none
}

#saging + label {
	 display: inline-block;
	 background: url('/static/icons/sage-off.jpg') no-repeat;
	 height:15px;
	 width:15px;
	 vertical-align: text-bottom;
}

#saging:checked + label {
	 display: inline-block;
	 background: url('/static/icons/sage-on.jpg') no-repeat;
	 height:15px;
	 width:15px;
	 vertical-align: text-bottom;
}


@media screen and (max-width: 800px) {
}

@media screen and (max-width: 724px) {
	.add {
		border: none;
		display: contents;
	}
	.body {
		margin-left: 0px;
		margin-right: 0px;
	}
	.adminpost {
		display: none;
	}
	.adminpost-small {
		display: inline-block !important;
	}
	.tripcode {
		font-size: 0.7rem;
	}
	.preview-outer{
		margin-left: 10px;
	}
	.flag {
		max-height: 20px;
	}
	.text {
		 margin: 8px 0px;
	}
	.file-about {
		font-size: 0.8rem !important;
	}
	.thread-media, .post-media-div, .oppost-media {
		display: inline-block;
	}
	audio {
		width: -webkit-fill-available;
	}
}

.catalogbtn {
	 float: right;
}

.embed {
	cursor: pointer;
	font-size: 10px;
}

.youtube-frame {
	display: block;
}

.modal-c {
	pointer-events:all;
}

.modal-controls {
	pointer-events:none;
}

.post-media {
	cursor: pointer;
}

.post-spoiler {
	display:inline-block;
}

.focused {
	box-shadow: 6px 0 2px -2px rgba(220,0,0,.8), -6px 0 2px -2px rgba(220,0,0,.8) !important;
	border: solid 1px #575757 !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
}

.roll-result {
	color: red;
}

.post-number {
	display: inline-block;
	margin: 1px;
	color: green;
}

#actual-header {
	padding-left: auto;
	padding-right: auto;
}

#actual-header * {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#bnr {
	cursor: pointer;
}
#bnr:active {
  transform: translateY(2px);
}

.paginate-control {
	display: inline;
	text-decoration: none;
}

.paginate-control:hover {
	color: #702802;
}

.disabled:hover {
	color: gray;
}

.disabled {
	color: gray;
}

.current {
	font-weight: bold;
	color: black !important;
}


.paginate {
	padding: 2px 0px;
}

.paginate a {
	text-decoration: none;
}

.to_die::before {
	content: none !important;
}

.shortened {
	max-height: 100px;
	overflow: hidden;
}

.showmore {
	margin-left: 15px;
	display: block;
	font-weight: bold;
 	color: black;
	cursor: pointer;	 
}
