a:visited {
	color: #992222;
}
a:link {
	color: #222299;
}

.username {
	color: #3333cc;
	font-weight: bold;
}

.post-header h3 {
	color: #cc3333;
	font-size: large;
	font-weight: bold;
}

.post:target {
	box-shadow: 6px 0 2px -2px rgba(220,0,0,.8), -6px 0 2px -2px rgba(220,0,0,.8);
	border-collapse: separate;
	border-spacing: 2px;
	border-color: grey;
}

.post {
	border-collapse: separate;
	border-spacing: 2px;
	border: none;
	box-shadow: none;
	margin: 3px;
}

.add {
	 border: none;
	 padding:3px;
}

body {
	background: #eeeeee;
	font-family: sans-serif;
	font-size: 80%;
}

.post {
	background: #aaaacc;
	border-color: grey;
}

.add {
	background: #aaaacc;
}

.boards-list-board {
	color: black;
}

.file-about {
	font-size: 0.8rem;
	font-style: italic;
}

.post-image {
	border: 1px solid black;
}

.filedata-a {
	font-family: sans-serif;
	font-size: 0.75rem;
}

.filedata-p {
	font-size: 0.8rem;
	font-style: italic;
}

.post-header {
	 border-bottom: black 1px solid;
}

.banned {
	 color: red;
	 font-weight: bold;
}

strong {
	 font-weight: bold;
}

em {
	 font-style: italic;
}

underline {
	 text-decoration: underline;
}

strike {
	 text-decoration: line-through;
}

spoiler {
  color:black;
  background-color: black;
	padding-bottom: 1px;
}

spoiler:hover {
  color:black;
  background-color: transparent;
}

citation {
	color: #007777;
}

.popup {
  border: 1px solid black;
	background: white;
}

.tripcode {
	color: green;
}

.preview-header * {
	display: inline-block;
}

.preview-header {
	border: none;
}

.preview-outer {
	margin-left: 25px;
}

.preview-post {
	background: #aaaacc;
}

.adminpost {
	font-weight: bold;
	color: red;
}

.thread {
	border: none;
}

