{% extends 'index.html' %}
{% block title %}About Poorchan{% end %}
{% block css %}
{% end %}
{% block content %}
	<h1>About</h3>
	<p> Poorchan is an imageboard for microblogging and serious discussions. It is meant to be used at own risk. In case you get
	assblasted consider yourself unlucky.
	You can propose improvements on the /d/ board and discuss bans on the /bans/ board. And yes, hidden boards do exist.
	At least the one i remember of.
	I do store the IP adresses of poorchan users and by using it you kind of agree to give me storage access. Not like
	anyone will actually visit this page though.</p>
	<h1>Rules</h1>
	<p>
	1. No cp, no obsessive spamming and wiping
	<br />	
	2. There are no rules, i (admin) can ban and unban anyone at any point if i wish to do so
	<br />	
	3. Yes.
	</p>
	<h1>Contacts</h1>
	<a href="mailto:poorchan@protonmail.com">Contact admin via obsucre email technology</a>
	<br />
	<a href='https://github.com/cnsr/tornado_imageboard'>Star this shit on githui</a>
	<br />
	<a href="https://t.me/censr">Contact admin via not-so-obscure libtard social network</a>
	<p>Don't forget to like me on tinder, follow me on instagram and github, subscribe to my youtube channel and of
	course yes.</p>
{% end %}
