{% extends 'index.html' %}
{% block title %}Bans{% end %}

{% block css %}
	<link rel='stylesheet' href="{{ static_url('css/admin_banned.css') }}">
{% end %}

{% block content %}
	<table class='bans'>
	<tr>
		<th>IP</th>
		<th>Post</th>
		<th>Reason</th>
		<th>Expires</th>
		<th>Banned</th>
		<th>Unban</th>
	</tr>
	{% for ban in bans %}
		<tr>
			<td>{{ban['ip']}}</td>
			<td>#{{ban['ban_post']}}</td>
			<td>{{ban['reason']}}</td>
			<td>{% if ban['date'] %}{{ban['date']}}{% else %}Never{% end %}</td>
			<td>{{ban['date_of']}}</td>
			<td>
				<div class='unban'>
					<form method='POST' action=''>
						{% module xsrf_form_html() %}
						<input type='text' value='{{ban['ip']}}' name='ip' hidden/>
						<input type='submit' value='Unban'/>
					</form>
				</div>
			</td>
		</tr>
	{% end %}
	</table>
{% end %}
