{% extends 'index.html' %}
{% block title %}ADMIN{% end %}
{% block css %}
{% end %}
{% block admin_header %}
	<a href='/admin'><button>ADMIN</button></a>
	<a href='/admin/logout'><button>LOGOUT</button></a>
{% end %}
{% block content %}
	<h1>Admin Panel</h3>
	<div class='redirects'>
		<a href='/admin/create'>Create New Board</a><br />
		<a href='/admin/stats'>Browse Board Info</a><br />
		<a href='/admin/bans'>Browse Bans</a><br />
		<a href='/admin/reports'>Browse Reports</a><br />
		<a href='/admin/logs'>Browse Logs</a><br />
	</div>
{% end %}
