{% extends 'index.html' %}
{% block title %}Edit {{i['short']}}{% end %}
{% block css %}
	<script src='{{static_url("js/validate_numbersonly.js")}}'></script>
	<script src='{{static_url("js/validate_image.js")}}'></script>	
{% end %}
{% block content %}
<div class='add_board'>
	<form method='POST' action='' enctype="multipart/form-data">
		{% module xsrf_form_html() %}
		<div class='name'>
			<label for='name'>Name</label><input type='text' name='name' maxlength=50 value="{{i['name']}}" required/>
		</div>
		<div class='short'>
			<label for='short'>Short</label><input type='text' name='short' maxlength=5 value="{{i['short']}}" required/>
		</div>
		<div class='username'>
			<label for='username'>Username</label><input type='text' name='username' maxlength=20
			value="{{i['username']}}" /><br />
			<input type='checkbox' id='custom' name='custom' {% if i['custom'] %}checked{% end %}/><label for='custom'>Allow custom usernames</label>
		</div>		
		<div class='description'>
			<label for'description'>Description</label><textarea rows=4 cols=55 name='description' maxlength=500>{{i['description']}}</textarea>
		</div>
		<div class='thread_posts'>
			<label for='thread_posts'>Max amount of posts in thread</label><input type='text' name='thread_posts' maxlength=4 onkeypress='validate(event)' value="{{i['thread_posts']}}" required/>
		</div>
		<div class='thread_bump'>
			<label for='thread_bump'>Bumplimit</label><input type='text' name='thread_bump' onkeypress='validate(event)' value="{{i['thread_bump']}}" maxlength=4 required/>
		</div>
		<div class='thread_bump'>
			<label for='country'>Country flags?</label><input id='country' type='checkbox' name='country' {% if i['country']%}checked{%end%}/>
		</div>		
		<div class='thread_catalog'>
			<label for='thread_catalog'>Max amount of threads in catalog</label><input type='text' name='thread_catalog' onkeypress='validate(event)' maxlength=2 value="{{i['thread_catalog']}}" required/>
		</div>
		<div class='thread_roll'>
			<label for='roll'>Allow dice rolling</label><input id='roll' type='checkbox' name='roll' {% if i['roll']%}checked{%end%}/>
		</div>
		<div class='perpage'>
			<label for='perpage'>Posts per page</label><input id='perpage' name='perpage' type='number'
			value="{{i['perpage']}}" />
		</div>
		{% if i['banners'] %}
			<div class='banners-preview'>
				<ul id='banners-list'>
				{% for banner in i['banners'] %}
					<li class='banner-preview'>
						<img src='/{{banner}}' title='banner' class='banner-img'/>
						<button class='banner-btn' data-board="{{i['short']}}" data-banner="{{banner}}">Delete</button>
					</li>
				{% end %}
				</ul>
			</div>
		{% else %}
			<p style='color:red;'>No banners</p>
		{% end %}
		<pre>Banners need to be 300x100</pre>
		<label for='banner'>Add banner</label>
		<input type='file' name='banner' id='banner' class='fileinput' />
		<input type='submit'>
	</form>
</div>
{% end %}
