{% extends 'index.html' %}
{% block css %}
	<link rel='stylesheet' href="{{ static_url('css/modules/thread.css') }}">
	<link rel='stylesheet' href="{{ static_url('css/modules/newpost_nodrag.css') }}">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js"></script>
	<script src='{{static_url("js/mustache.min.js")}}'></script>
	<script src='{{static_url("js/posts.js")}}'></script>	
{% end %}
{% block title %}/{{board['short']}}/ - {{board['name']}}{% end %}
{% block catalog %}<a href="/{{board['short']}}/catalog/" class='catalogbtn'>Catalog</a>{% end %}
{% block content %}
	{% block banner %}
		<div id='actual-header'>
			{% if banner %}
				<img src='/{{banner}}' title='banner' data-goto='/{{board["short"]}}' id='bnr'/>
				<br />
			{% end %}
			<h2 id='board-title'>/{{board['short']}}/ - {{board['name']}}</h2>
			<hr>
		</div>
	{% end %}
	{% block add %}
		{% module NewPost(name=board['custom'], admin=admin, show=show) %}
		<script>var nodrag=true;</script>
	{% end %}
	<div class='threads'>
		<hr>
		{% for thread in threads %}
			{% module Thread(thread, (board['thread_bump'] <= thread['postcount'])) %}
			<hr>
		{% end %}
	</div>
	{% if paged %}
	<div class='paginate'>
		{% if current == paged[0]['numb'] %}
			<button class='paginate-control disabled'>[PREVIOUS]</button>
		{% else %}
			<a href='{{paged[current-1]["url"]}}'/>
				<button class='paginate-control'>[PREVIOUS]</button>
			</a>
		{% end %}
		{% for page in paged %}
			{% if page['numb'] == current %}	
				<button class='paginate-control disabled current'>[{{page["numb"]}}]</button>
			{% else %}
				<a href='{{page["url"]}}'/>
					<button class='paginate-control'>[{{page["numb"]}}]</button>
				</a>
			{% end %}
		{% end %}
		{% if current == paged[-1]['numb'] %}
			<button class='paginate-control disabled'>[NEXT]</button>
		{% else %}
			<a href='{{paged[current+1]["url"]}}'/>
				<button class='paginate-control'>[NEXT]</button>
			</a>
		{% end %}
	</div>
	{% end %}
	{% module Template() %}	
{% end %}
