{% extends 'index.html' %}
{% block css %}
	<link rel='stylesheet' href="{{ static_url('css/modules/thread.css') }}">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js"></script>
	<script src='{{static_url("js/posts.js")}}'></script>	
{% end %}
{% block title %}Threads{% end %}
{% block content %}
	{% block add %}
		{% module NewPost() %}
		<script>var nodrag=true;</script>
	{% end %}
	<div class='threads'>
		{% for thread in threads %}
			{% module Thread(thread) %}
		{% end %}
	</div>
{% end %}
