{% extends 'index.html' %}
{% block css %}
	<link rel='stylesheet' href="{{ static_url('css/modules/catalog.css') }}">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js"></script>
	<script src='{{static_url("js/posts.js")}}'></script>	
{% end %}
{% block title %}/{{board['short']}}/ - {{board['name']}}{% end %}
{% block catalog %}<a href="/{{board['short']}}/" class='catalogbtn'>Board</a>{% end %}
{% block content %}
	<div class='threads'>
		<hr>
		{% for thread in threads %}
			{% module CatalogThread(thread) %}
		{% end %}
	</div>
{% end %}
