{% extends 'index.html' %}
{% block css %}
	<!--link rel='stylesheet' href="{{ static_url('css/modules/thread.css') }}"-->
{% end %}
{% block title %}MAKE GIBS{% end %}
{% block content %}
	<!--form action='' method='POST'>
		<label for='amount'>Amount</label>
		<input type='number' id='amount' name='amount' />
		<label for='currency'>Currency</label>
		<select id="currency" name='currency'>
			<option value="UAH">UAH</option>
			<option value="EUR">EUR</option>
			<option value="USD" selected="selected">USD</option>
		</select>
		<input type="submit" value="Gibs" />
	</form-->
	<a href='https://www.liqpay.ua/en/checkout/card/i96963268225'>MAKE GIBS</a>
{% end %}
