<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="/static/favicon.png" type="image/x-icon" id='dynamic-favicon'/>
		<meta charset="utf-8">
		<script src="{{static_url('js/jquery.min.js')}}"></script>
		<script src="{{static_url('js/jquery-ui.min.js')}}"></script>		
		<script src='{{static_url("js/theme.js")}}'></script>
		<script src="{{static_url('js/moment.min.js')}}"></script>
		{% block css %}
			<link rel='stylesheet' href="{{ static_url('css/modules/board.css') }}">
		{% end %}
		<link rel='stylesheet' href="{{ static_url('index.css') }}">
		<link rel='stylesheet' href="{{ static_url('css/modules/board.css') }}">
		<script>get_theme();</script>		
		<script src='{{static_url("js/bbcodes.js")}}'></script>
		<script src='{{static_url("js/popup.js")}}'></script>
		<script src='{{static_url("js/pass.js")}}'></script>
		<title>{% block title %}Index{% end %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	<header>
		{% block header %}
			<a href='/' class='homebtn'>[HOME]</a>
			{% block catalog %}{% end %}
			<ul class='boards-list'>
				{% if boards_list %}
					{% for b in boards_list %}
						<li class='boards-list-board'>
							<a href='/{{b["short"]}}' class='board-link'>[{{b['short']}}]</a>
						</li>
					{% end %}
				{% end %}
			</ul>
		{% end %}
	</header>
	{% block modal %}
		{% module Modal() %}
	{% end %}
	{% block content %}
		{% block banner %}
		{% end %}
		{% if boards %}
			<div class='boards'>
				{% for board in boards %}
					{% module Board(board) %}
				{% end %}
			</div>
		{% else %}
			<h1>No boards yet!</h1>
		{% end %}
	{% end %}
	{% block license %}
		<div class='license'>
			<hr>	
			This product includes GeoLite2 data created by MaxMind, available from
			<a href="http://www.maxmind.com">http://www.maxmind.com</a>.
		</div>
	{% end %}
	{% block settings %}
		{% module Settings() %}
	{% end %}
	</body>
</html>
