<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon" />	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
		{% block css %}
			<link rel='stylesheet' href="{{ static_url('css/modules/board.css') }}">
		{% end %}
		<link rel='stylesheet' href="{{ static_url('index.css') }}">
		<link rel='stylesheet' href="{{ static_url('css/modules/board.css') }}">		
		<script src='{{static_url("js/bbcodes.js")}}'></script>
		<script src='{{static_url("js/popup.js")}}'></script>		
		<title>{% block title %}Index{% end %}</title>
	</head>
	<body>
	<header>
		{% block header %}
			<a href='/' class='homebtn'>[HOME]</a>
			<ul class='boards-list'>
				{% if boards_list %}
					{% for b in boards_list %}
						<li class='boards-list-board'>
							<a href='/{{b["short"]}}'>[{{b['short']}}]</a>
						</li>
					{% end %}
				{% end %}
			</ul>
		{% end %}
	</header>
	{% block modal %}
		{% module Modal() %}
	{% end %}
	{% block content %}
		{% if boards %}
			<div class='boards'>
				{% for board in boards %}
					{% module Board(board) %}
				{% end %}
			</div>
		{% else %}
			<h1>No boards yet!</h1>
		{% end %}
	{% end %}
	{% block license %}
		<div class='license'>
			<hr>	
			This product includes GeoLite2 data created by MaxMind, available from
			<a href="http://www.maxmind.com">http://www.maxmind.com</a>.
		</div>
	{% end %}
	</body>
</html>
