<!DOCTYPE html>
<html>
	<head>
		{% block css %}
			<link rel='stylesheet' href="{{ static_url('css/modules/thread.css') }}">
		{% end %}
		<link rel='stylesheet' href="{{ static_url('index.css') }}">
		<title>{% block title %}Threads{% end %}</title>
	</head>
	<body>
	<header>
		{% block header %}
			<!-- TODO: add list of imageboards -->
			<a href='/' class='homebtn'>[HOME]</a>
		{% end %}
	</header>
	{% block content %}
		{% block add %}
			{% module NewPost() %}
		{% end %}
		<div class='threads'>
			{% for thread in threads %}
				{% module Thread(thread) %}
			{% end %}
		</div>
	{% end %}
	</body>
</html>
