<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head profile="http://gmpg.org/xfn/11">
		<link rel="icon" href="/static/favicon.png" type="image/x-icon" id='dynamic-favicon'/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="{{static_url('js/jquery.min.js')}}"></script>
		<link rel='stylesheet' href="{{ static_url('css/leaflet.css') }}">
		<script src="{{static_url('js/leaflet.js')}}"></script>
	</head>
	<body>
		<div id="map" style="height: 100%; overflow: none;"></div>
		<script src="{{static_url('js/map.js')}}"></script>
	</body>
</html>
