{% extends 'index.html' %}
{% block css %}
	<script src='{{static_url("js/mustache.min.js")}}'></script>
	<script src='{{static_url("js/posts.js")}}'></script>
	<script src='{{static_url("js/remove.js")}}'></script>	
	<link rel='stylesheet' href="{{ static_url('css/modules/post.css') }}">
	<link rel='stylesheet' href="{{ static_url('css/modules/oppost.css') }}">	
	<link rel='stylesheet' href="{{ static_url('css/modules/newpost.css') }}">
{% end %}

{% block title %}/{{board['short']}}/ - #{{ op['count'] }} {% if op['subject'] %} - {{ op['subject'] }}{% end %}{% end %}
{% block catalog %}<a href="/{{board['short']}}/catalog/" class='catalogbtn'>Catalog</a>{% end %}
{% block banner %}
	<div id='actual-header'>
		{% if banner %}
			<img src='/{{banner}}' title='banner' data-goto='/{{board["short"]}}' id='bnr'/>
			<br />
		{% end %}
		<h2 id='board-title'>/{{board['short']}}/ - {{board['name']}}</h2>
		<hr>
	</div>
{% end %}
{% block content %}
	<script type="text/javascript">
		var board="{{board['short']}}";
		var thread="{{op['count']}}";
	</script>
	{% block banner %}
		<div id='actual-header'>
			{% if banner %}
				<img src='/{{banner}}' title='banner'/>
				<br />
			{% end %}
			<h2 id='board-title'>/{{board['short']}}/ - {{board['name']}}</h2>
			<hr>
		</div>
	{% end %}
	{% if not op['locked'] %}
		{% block add %}
			{% module NewPost(name=board['custom'], admin=admin, show=show) %}
		{% end %}
	{% end %}
	<div class='op'>
		{% module OpPost(op, admin, (len(posts) + 1 >= board['thread_bump'])) %}
	</div>
	<div class='posts'>
		{% if posts %}
			{% for post in posts %}
				{% module Post(post, admin) %}
			{% end %}
		{% end %}
	</div>
	{% current_user.is_admin %}
		<script src='{{static_url("js/banned.js")}}'></script>
		<link rel='stylesheet' href="{{ static_url('css/banform.css') }}">		
		<div class='banform'>
			<form method='POST' action=''>
				<div class='ban-row'>
					<input id='ban-post' disabled type='text'>
					<button id='ban-close'>X</button>
				</div>
				<div class='ban-expires'>
					<p>Expiration:</p>
					<input type='checkbox' id='ban-never'/>
					<label for='ban-never'>Ban forever?</label><br />
					<input type='checkbox' id='ban-lock'/>
					<label for='ban-lock'>Lock thread?</label><br />
					<input type='checkbox' id='ban-rm' checked/>
					<label for='ban-rm'>Remove post?</label><br />
					<div class='ban-expires-div'>
						<p>Pick date of unban</p>
						<table class="ban-table">
							<tr>
								<th class="ban-table-th">days</th>
								<th class="ban-table-th">hours</th>
								<th class="ban-table-th">minutes</th>
							</tr>
							<tr>
								<td class="ban-table-td">
									<input type='number' min='0' max='365' name='ban-days' id='ban-days' value='0'/></td>
								<td class="ban-table-td">
									<input type='number' min='0' max='24' name='ban-hours' id='ban-hours' value='0'/></td>
								<td class="ban-table-td">
									<input type='number' min='0' max='59' name='ban-minutes' id='ban-minutes' value='0'/></td>
							</tr>
						</table>
					</div>
				</div>
				<div class='ban-col'>
					<div class='ban-subrow'>
						<label for='ban-reason'>Reason:</label>				
						<input type='text' id='ban-reason' maxlength=100 required>
					</div>
					<div class='ban-subrow'>
						<label for='ban-message'>Ban message:</label>				
						<input type='text' id='ban-message' maxlength=150>
					</div>
					<input type='Submit' value='Ban' id='ban-submit'>
				</div>
				</form>
		</div>
	{% end %}
	{% module Template() %}	
	<div class='getnew'>
		<button id='getnew'>Get New Posts</button>
		<span id='newremain'>20</span>
	</div>
	{% current_user.is_admin %}
		<div id='pin-selector' style="display:none;">
			<div class="pinform banform" style="display: inline-block; top: 58px; left: 40%; cursor: pointer;">
				{% for bb in boards %}
					<input type="checkbox" id="pin-select" value="" name='{{bb["short"]}}'>{{bb["short"]}}</input><br />
				{% end %}
				<button id="pin-submit">Pin</button>
				<button id="pin-close">Cancel</button>
			</div>
			</div>
		</div>
	{% end %}
{% end %}